span {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 10px;
}

.sub-pricingSpecial li {
  margin-left: 15px;
}

.active {
  background: #232329;
  border-left-style: solid;
  border-left-color: green;
}
