nav {
  background: #2a2a31;
  border: none;
  height: 40px;
}

ul {
  list-style-type: none;
}

.navbar-brand {
  display: flex;
  img {
    position: fixed;
    top: 13px;
    left: 60px;
  }
}

.lnr-menu-div {
  color: white;
  padding: 13px 10px 10px 20px;

  .lnr-menu {
    font-size: 20px;
    cursor: pointer;
  }
}

.navbar-right {
  display: flex;
  float: right;
  position: absolute;
  top: -10px;
  right: 10px;

  li {
    padding: 5px 5px 10px 10px;

    img {
      vertical-align: middle;
      padding-right: 10px;
    }
    a {
      color: white;
      padding-left: 10px;

      .far,
      .fas {
        font-size: 15px;
        vertical-align: middle;
      }
      .lnr-chevron-down {
        margin-left: 10px;
      }
    }
  }
}

.page-title {
  margin: -60px 0 0 13%;

  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
}
